@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: radial-gradient(140% 115% at 50% 15%,rgba(0,0,0,0) 40%,#63e 70%,#fff 100%),#010314;
}

canvas {
    display: block;
    position: relative;
    z-index: 100;
}

.experience {
    position: absolute;
    top: 200px;
    width: 100vw;
    height: 240px;
    transition: opacity 0.3s ease-in-out;
}

.experience1 {
    position: absolute;
    top: 0;
    z-index: -1;
}

.slider__odin {
    position: relative;
    top: 200px;
    height: 240px;
}

.slider__parent {
    position: absolute;
    /* top: 200px; */
    width: 100%;
    clip-path: inset(0 50% 0 0);
}

.slider__parent.encoded {
    clip-path: inset(0 0 0 50%);
}

.slider {
    overflow: hidden;
    width: 100%;
}

.slider__scroller {
    display: flex;
    flex-wrap: nowrap;
    gap: 200px;
}

.slide {
    width: 360px;
    min-width: 360px;
    height: 240px;
}

.slide img {
    display: block;
    width: 100%;
}

.encoded .slide {
    color: #777;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    overflow: hidden;

}

.encoded .slide strong {
    color: white;
}

.separator {
    position: absolute;
    left: 50%;
    width: 100px;
    height: 100%;
    margin-left: -50px;
    /* background-color: red; */
    mix-blend-mode: screen;
    transition: opacity 0.3s ease-in-out;
}

.separator::before {
    position: absolute;
    content: '';
    width: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, #FFFFFF, #6432E6, 20%, rgba(100, 50, 230, 0));
}

.separator::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 3px;
    transform: translateX(-50%);
    background: #FFF;
}

.counter {
    position: absolute;
    font-size: 30px;
    color: #FFF;
}

.real_separator {
    position: absolute;
    left: 50%;
    width: 3px;
    top: -10px;
    bottom: -10px;
    background-color: #FFF;
    transform: translateX(-50%);

}